<template>
    <div>
        <div v-if="loading">
            Loading...
        </div>
        <div v-if="error">
            I'm having trouble logging you in with that username and password. Please try again.
        </div>
        <form  autocomplete="off" v-on:submit="login">
          <input class="input" type="email" name="email" v-model="credentials.email" placeholder="Email Address" />
          <input class="input" type="password" name="password" v-model="credentials.password" placeholder="Password" />
          <input type="submit" value="Login" />
        </form>
    </div>
</template>

<script>
    export default {
        data() {
          return {
            credentials: {
              email: '',
              password: ''
            },
            error: false,
            loading: false
          }
        },
        mounted(){
            //TODO: Call a function here to see if the localstorage item exists and if so redirect? or do it in the header like fext?
        },
        methods: {
            login(event){
              event.preventDefault();
              this.error = false;
              this.loading = true;
              this.$http.post('/api/v1/authenticate',this.credentials).then((response) => {
                response.json().then((data)=>{
                    localStorage.setItem('api_token',data.token)
                    Vue.http.headers.common['Authorization'] = 'Bearer ' + data.token;
                    this.$http.get('/api/v1/authenticate/user').then((response)=>{
                        let localObj = {
                         id: response.data.user.id,
                         firstname: response.data.user.firstname,
                         lastname: response.data.user.lastname,
                         fullname: response.data.user.firstname + ' ' + response.data.user.lastname
                        }
                        localStorage.setItem('api_user',JSON.stringify(localObj));
                        this.loading=false;
                        window.location = '/me';
                    },(error)=>{
                        this.error = true;
                        this.loading = false;
                    });

                });
              },(error)=>{
                this.error = true;
                this.loading = false;
              });
            }
        }
    }
</script>
